body,
html {
  overflow-x: hidden;
  position: relative;
}
.active {
  overflow: hidden;
}
.active > body:before {
  content: "";
  position: absolute;
  width: 100% !important;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
}
.color-filter:hover {
  width: 30px;
  height: 30px;
}
.announce {
  background-color: #e91e63;
  padding: 10px 15px;
}
.announce a {
  font-size: 14px;
  padding-left: 5rem;
}
.discont-sec {
  padding-right: 51px;
}

.announce div {
  font-size: 14px;

  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
span.disnum {
  color: #ec0101;
}
.top_wrap.d-flex {
  padding: 10px 15px;
  min-height: 45px;
  font-size: 13px;
  background: #f6f6f8;
}
.top_wrap {
  color: #878787;
}
.top_wrap img {
  width: 14px;
}
.top_wrap a {
  color: #878787;
}
.top_wrap a {
  padding: 0px 10px;
}
.top_wrap a {
  padding: 0px 10px;
}
.location a {
  padding: 0px;
}
.language select:hover {
  color: #56cfe1;
}
.language select {
  word-wrap: normal;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  background: transparent;
  color: #000000ab;
}
.top-wrap-btn {
  transition: all 0.3s;
}
.hover a:hover {
  color: #56cfe1;
}
.logo img {
  width: 95px;
}
ul.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-header {
  padding: 18px 15px;
  box-shadow: -1px 4px 5px 0px #8080801a;
}
.dropdown-toggle {
  outline: none;
  background-color: transparent;
  color: #878787;
  border: none;
}
.dropdown-menu {
  border-radius: 0;
  border: none;
  box-shadow: 0px 0px 3px 0px #00000045;
}
.dropdown-menu a {
  padding: 7px 10px;
}
li.menu-list a {
  padding: 5px 17.5px;
}
.hover a {
  transition: all 0.3s;
}
.icon-link img {
  width: 22px;
}
.icon-link a {
  padding: 0px 8px;
}
/* Main Banner */
.banner-img img {
  width: 1364px;
  height: 600px;
  object-fit: cover;
}
.banner-img {
  overflow: hidden;
}
.banner-content {
  position: absolute;
  top: 260px;
  padding: 15px;
  margin: 0px 31px;
}
.banner-season {
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 2s;
  font-weight: 600;
  opacity: 0;
  transform: translateY(-53px);
}
.slick-current .banner-season {
  opacity: 1;
  transform: translate(0px);
}
.banner-heading {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 54px;
  transition: all 2s;
  transform: translateX(-70px);
  line-height: 57px;
  opacity: 0;
}
.slick-current .banner-heading {
  opacity: 1;
  transform: translate(0px);
}

.banner-btn {
  width: fit-content;
  position: relative;
  transition: all 2s;
  transform: translateY(50px);
  opacity: 0;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  z-index: 9;
  cursor: pointer;
  margin-top: 10px;
}
.slick-current .banner-btn {
  opacity: 1;
  transform: translate(0px);
}

.banner-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #01bad4;
  z-index: -1;
  width: 100%;
  opacity: 0;
  height: 0;
  transition: all 0.4s;
}
.banner-btn:hover::before {
  height: 100%;
  opacity: 1;
}
/* Category Section */
.cate-img {
  overflow: hidden;
  position: relative;
  /* margin: 20px 0px; */
}
.cate-img img {
  width: 100%;
  transition: all 1s;
  transform: scale(1);
}
.cate-img:hover img {
  transform: scale(1.1);
}
.cate-name {
  position: absolute;
  bottom: 33px;
  background: #fff;
  padding: 10px 30px;
  font-weight: 500;
  transition: all 0.5s;
  text-transform: capitalize;
}
.cate-name:hover {
  background-color: #56cfe1;
  color: #ffffff;
}
.cate-deco {
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  font-weight: 800;
  -webkit-text-fill-color: #0000;
  background: -webkit-linear-gradient(15deg, #ff5d55, #cdc3ff 80%);
  -webkit-background-clip: text;
  color: #ff0a0a;
}
.heading {
  -webkit-text-fill-color: #0000;
  background: -webkit-linear-gradient(7deg, #ff1306, #56cfe1 70%);
  -webkit-background-clip: text;
  color: #ff0a0a;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 30px;
}

/* Product Section */
.main-heading {
  width: fit-content;
}

.sub-heading {
  font-size: 16px;
  font-weight: 500;
  color: #00000078;
  font-family: cursive;
}
.product-option img {
  width: 20px;
}
img.first-img {
  position: absolute;
  width: 100%;
  transition: all 0.7s;
  height: 100%;
}
img.second-img {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.7s;
}

.product-option {
  z-index: 99;
  bottom: 205px;
  width: -webkit-fill-available;
  text-align: center;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(-50px);
}
.product-card:hover .product-option {
  opacity: 1;
  transform: translateY(0);
}
.product-card {
  overflow: hidden;
}
.product-card-heart {
  background: white;
  width: fit-content;
  position: relative;
  top: -50px;
  left: 11px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.first-option {
  background: #fff;
  width: fit-content;
  margin: auto;
  padding: 4px;
  overflow: hidden;
  height: 35px;
  width: 150px;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
  font-weight: 400;
  transition: all 0.5s;
}
.option-name,
.option-icon {
  transition: all 0.3s;
}
.option-icon {
  opacity: 0;
  position: absolute;
  left: 70px;
  z-index: 99;
}
.first-option:hover .option-name {
  transform: translateY(-30px);
  opacity: 0;
}
.first-option:hover .option-icon {
  opacity: 1;
  position: absolute;
  transform: translateY(-24px);
  filter: brightness(2) invert(1);
}

.footer-contact-desc:hover img {
  filter: drop-shadow(0px 1000px 0 #56cfe1);
  transform: translateY(-1000px);
}
.first-option:before {
  content: "";
  position: absolute;
  background-color: #56cfe1;
  width: 100%;
  left: 0;
  height: 0px;
  bottom: 0;
  transition: 0.3s;
}
.first-option:hover:before {
  height: 100%;
}
.product-card-link:hover .first-img {
  opacity: 0;
}
.product-card-link:hover .second-img {
  opacity: 1;
}
.product-card-name {
  font-weight: 500;
  font-size: 15px;
}
.card-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}
.card-color:hover {
  transform: scale(1.1);
}
.card-img img {
  width: 100%;
  transition: all 0.5s;
  transform: scale(1), rotate(0);
}
.card-img {
  overflow: hidden;
}
.card-img:hover img {
  transform: rotate(40deg) scale(1.7);
}
.card-caption {
  top: 30%;
  left: 30%;
  color: #fff;
  backdrop-filter: blur(15px);
  padding: 20px;
}
/* Blog start */
.blog-card-img img {
  width: 100%;
  transition: all 1s;
  transform: scale(1);
}
.blog-card-img {
  overflow: hidden;
}
.blog-card-img:hover img {
  transform: scale(1.1);
}
.blog-card-heading {
  font-weight: 500;
  font-size: 18px;
}
.blog-card-desc {
  font-size: 16px;
}
/* Social Start */
.social-slider {
  outline: none;
  overflow: hidden;
  cursor: pointer;
}
.social-slider:hover img {
  transform: scale(1.1);
}
.social-slider img {
  transition: all 0.5s;
  transform: scale(1);
  width: 100%;
}

/* Footer */
.footer-card-img img {
  width: 50px;
  height: 32px;
}
.car-img {
  height: 44px !important;
}
.footer-card-detail h2 {
  font-size: 16px;
}
.footer-card-caption {
  font-size: 14px;
}
.footer-contact-desc {
  font-size: 15px;
  cursor: pointer;
  color: #878787;
}
.footer-menu-bar h2 {
  font-size: 18px;
}
ul.footer-menu-list {
  list-style: none;
}
.footer-form input {
  outline: none;
  border: none;
  padding: 8px 10px;
  min-width: 62%;
  background: transparent;
}
.form-btn:hover {
  background-color: #000000d7;
}
.contact-logo {
  filter: opacity(1) drop-shadow(6px 4px 15px white);
}
.form-btn {
  text-transform: none;
  border-radius: 40px;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 10px;
  margin: 0;
  line-height: 24px;
  border: none;
  background-color: #000;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  min-width: 111px;
}
.footer-input {
  border: 1px solid;
  padding: 4px 10px 4px 0px;
  border-radius: 26px;
  overflow: hidden;
}
.filter-row {
  padding: 0px 13px;
}
.first-footer {
  display: none;
}
#home-page .first-footer {
  display: block !important;
}
.footer-site-name {
  color: #56cfe1 !important;
}
.main-footer {
  background-color: #f6f6f8;
}
/* Page-banner */
.page-name {
  top: 45%;
  text-transform: capitalize;
  left: 47%;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  z-index: 99;
}
.page-banner-content:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
.page-banner-content {
  height: 150px;
  overflow: hidden;
}

#filter2 {
  padding: 6px 15px;
  border: 1px solid;
  border-radius: 30px;
  overflow: hidden;
}
#filter2::after {
  margin-left: 20px;
}

.filter-drawer li {
  cursor: pointer;
  list-style: none;
}
.filter-drawer li label {
  transition: all 0.3s;
  font-size: 15px;
  color: #000;
}
.filter-drawer li label:hover {
  color: #56cfe1;
}

.footer-contact-desc:hover {
  color: #56cfe1;
}
.filter-drawer.hover {
  position: fixed;
  top: 0;
  left: -30%;
  z-index: 999;
  background: #fff;
  width: 30%;
  height: 100vh;
  transition: all 0.5s;
  box-shadow: 1px 1px 20px 0px #00000066;
  overflow: auto;
}

.filter-drawer.hover.active {
  left: 0;
}

.main-filters ul {
  max-height: 250px;
  overflow-y: auto;
}
.main-filter-heading h2 {
  font-size: 18px;
  margin: 0;
}
.main-filter-heading span {
  cursor: pointer;
  transition: all 0.4s;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding-bottom: 2px;
  align-items: center;
}
.main-filter-heading span:hover {
  transform: rotate(180deg);
  background-color: #000;
  color: #fff;
}
.avaiable {
  padding: 20px;
  border-top: 1px solid #0000004d;
  border-bottom: 1px solid #0000004d;
}
.avaiable h2 {
  font-size: 18px;
  margin: 0;
}
.main-filter-heading {
  padding: 15px 20px;
}
.avaiable h2 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  width: fit-content;
  margin-bottom: 10px;
}
.color-filter {
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 50%;
  transition: all 0.3s;
}

/* About Page */
#shop-page .first-footer {
  display: block;
  box-shadow: 1px 1px 15px 0px #0000002e;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000001c;
}
/* Contact-page */
.contact-form-input input,
.contact-form-input textarea {
  width: 100%;
  padding: 13px 15px;
  font-size: 14px;
  border: 1px solid #000;
  outline: none;
  border-radius: 20px;
}
/* Blog Page */
.blog-page-desc {
  background-color: #00000026;
  color: #fff;
  border-left: 1px solid #0000005c;
  padding: 10px;
}

/* Mobile Responsive */
@media only screen and (max-width: 377px) {
  .announce a {
    padding: 0;
  }
  .header-list {
    position: absolute;
    background: #fff;
    width: 70%;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 99;
    box-shadow: 1px 1px 9px 0px #000000c7;
  }
}
